# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [6]:
import numpy as np
import pandas as pd

data = pd.read_csv("sp500hst.txt",delimiter = ',',
                names = ["date", "ticker", "open", "high", "low", "close", "volume"])
data

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [ ]:
sredneez = data[["open","high","low","close"]].mean()
sredneez

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [ ]:
data["month"] = pd.to_datetime(d["date"]).dt.month
data

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [ ]:
torgi = data.groupby("ticker")["volume"].sum()
torgi

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [ ]:
import pandas as pd

# Загрузка данных
recipes = pd.read_csv("recipes_sample.csv")
reviews = pd.read_csv("reviews_sample.csv", index_col=0)

# Вывод первых 5 строк для каждой таблицы
print("Recipes:")
recipes

print("\nReviews:")
reviews

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [ ]:
t1_df = pd.read_csv("data_1.csv") # чтение первой таблицы из файла data_1.csv
t2_df = pd.read_csv("data_2.csv", index_col=0) # чтение второй таблицы из файла data_2.csv с индексацией по первому столбцу
t1_shape = t1_df.shape # получение размерности первой таблицы
t2_shape = t2_df.shape # получение размерности второй таблицы
t1_dtypes = t1_df.dtypes # получение типов данных первой таблицы
t2_dtypes = t2_df.dtypes # получение типов данных второй таблицы
print('Размер и типы данных первой таблицы:', t1_shape, t1_dtypes)
print('Размер и типы данных второй таблицы:', t2_shape, t2_dtypes)

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
t1 = pd.read_csv("recipes_sample.csv")

print("Рецепты:")
print(t1.isnull().sum())

print("\nОтзывы:")
print(reviews.isnull().sum())

print("\nРецепты:")
print(t1.isnull().sum() / len(t1))

print("\nОтзывы:")
print(reviews.isnull().sum() / len(reviews))

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
#Статистика для таблицы "Рецепты"
print("рецепты:")
for col in recipes.select_dtypes(include=[float, int]):
print(col, ":", round(recipes[col].mean(), 2))

#Статистика для таблицы "Отзывы"
print("\nотзывы:")
for col in reviews.select_dtypes(include=[float, int]):
print(col,":", round(reviews[col].mean(), 2))

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
import random

recipe_titles = recipes["name"]
random_recipes = pd.Series(random.sample(list(recipe_titles), 10))

random_recipes

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
reviews = reviews.reset_index(drop=True)
reviews

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
fast_food = recipes[(recipes["minutes"] <= 20) & (recipes["n_ingredients"] <= 5)]
fast_food

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
import pandas as pd
df = pd.read_csv("recipes.csv")
df['submitted'] = pd.to_datetime(df['submitted'])
print(df['submitted'].dtype)

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
recipes.loc[recipes['submitted'].dt.year <= 2010]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
recipes['description'] = recipes['description'].astype(str)
recipes['description_length'] = recipes['description'].str.len()
print(recipes['description_length'])

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
recipes['name'] = recipes['name'].str.title()
recipes['name']

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [ ]:
recipes['name_word_count'] = recipes['name'].str.split().apply(len)
print(recipes['name_word_count'])

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
counts = recipes['contributor_id'].value_counts()
print('Количество рецептов, представленных каждым из участников:\n', recipe_counts)
print('\nМаксимальное кол-во рецептов добавил участник:', recipe_counts.idxmax())

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [ ]:
mean_rating = reviews.groupby('recipe_id')['rating'].mean()
merged = recipes.merge(reviews[['recipe_id']],how='left',left_on='id',right_on='recipe_id')
recipes_without_reviews = merged[merged['recipe_id'].isna()]['id']

print('Средний рейтинг для каждого рецепта: \n', mean_rating)
print('\nКоличество рецептов без отзывов: ', len(recipes_without_reviews))

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
recipes['year'] = pd.to_datetime(recipes['submitted'], format='%Y-%m-%d').dt.year
years = recipes['name'].groupby(recipes['year']).count()

print(years)

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
merged_data = pd.merge(recipes[['recipe_id', 'recipe_name']], reviews[['recipe_id', 'user_id', 'recipe_rating']], left_on='recipe_id', right_on='recipe_id', how='inner')
del merged_data["recipe_id"]
merged_data

In [ ]:
print(merged_data.loc[merged_data['id'] == 9856])

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
review_counts = reviews.groupby('recipe_id')['review'].count()
merged_data_2 = recipes.merge(review_counts, how='left', left_on='id', right_index=True)
merged_data_2['review_count'] = merged_data_2['review'].fillna(0).astype(int)

merged_data_2 = merged_data_2[['id', 'name', 'review_count']]
merged_data_2

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [ ]:
data = pd.merge(reviews, recipes, left_index=True, right_on='id')
data['year'] = pd.DatetimeIndex(data['date']).year
mean_ratings = data.groupby(['year', 'recipe_id'])['rating'].mean()
mean_ratings_year = mean_ratings.groupby('year').mean()
min_rating = mean_ratings_year.idxmin()
recipes_min = data[data['year'] == min_rating]['name'].unique()

print(f"Рецепты, добавленные в {min_rating} году, имеют наименьший средний рейтинг:\n{recipes_min}")

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [ ]:
sorted = recipes.sort_values(by='name_word_count', ascending=False)
sorted

In [ ]:
# Сохраните результаты выполнения заданий 3.1-3.3
sorted[['description_length', 'name', 'name_word_count']].to_csv('6.1.csv', index=False)

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
with pd.ExcelWriter('6.2.xlsx') as writer:
    merged_data.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    merged_data_2.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3